@import "../../style/Utils/Variables.scss";

.dropdown {
    &_top {
        display: flex;
        justify-content: space-between;
        background-color: $primary-color;
        border-radius: 5px;
        color: $secondary-color;
        padding: 0 15px;
        &_button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            .fa-chevron-down,
            .fa-chevron-up {
                height: 30px;
                color: $secondary-color;
            }
        }
    }
}
