@import "../../style/Utils/Variables.scss";

.dropdown {
    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        border-radius: 5px;
        color: $secondary-color;
        padding: 0 15px;
        @media (max-width: 425px) {
            padding: 0 5px;
            height: 30px;
            h2 {
                font-size: 13px;
            }
        }
        &_button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            .fa-chevron-down,
            .fa-chevron-up {
                height: 30px;
                color: $secondary-color;
                @media (max-width: 425px) {
                    height: 18px;
                }
            }
        }
    }
}
