@import "../../style/Utils/Variables.scss";

.homeCardContainer {
    margin: 40px 75px;
    background-color: $background-shadow-color;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    @media (max-width: 425px) {
        margin: 20px;
        border-radius: 10px;
        background-color: transparent;
        flex-direction: column;
        padding: 0;
        gap: 20px;
    }
}
