@import "../../style/Utils/Variables.scss";

.homecard {
    text-decoration: none;
    position: relative;
    background-color: $tertiary-color;
    overflow: hidden;
    border-radius: 10px;
    height: 340px;
    width: 30%;
    &_image {
        height: 100%;
        width: 100%;
        opacity: 0.7;
        object-fit: cover;
        transition: transform 0.4s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
    }
    &_title {
        font-size: 18px;
        line-height: 25px;
        color: $secondary-color;
        position: absolute;
        z-index: 2;
        bottom: 5px;
        left: 20px;
        right: 20px;
    }
}
