@import "../../style/Utils/Variables.scss";

.homecard {
    text-decoration: none;
    &_image {
        height: 340px;
        width: 340px;
        border-radius: 10px;
    }
    &_title {
        font-size: 18px;
        line-height: 25px;
        color: $secondary-color;
    }
}
