@import "../../style/Utils/Variables.scss";

.header_nav {
    &_list {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 55px;
        @media (max-width: 425px) {
            gap: 26px;
        }
        a {
            color: $primary-color;
            font-size: 24px;
            @media (max-width: 425px) {
                font-size: 12px;
            }
        }
        &_element {
            text-decoration: none;
        }
        &_active {
            text-decoration: underline $primary-color;
        }
    }
}
