@import "../../style/Utils/Variables.scss";

.header_nav {
    &_list {
        width: 250px;
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        a {
            color: $primary-color;
            font-size: 24px;
        }
        &_element {
            text-decoration: none;
        }
        &_active {
            text-decoration: underline $primary-color;
        }
    }
}
